


	   

	<header class="header-likeu">
		<section id="home">
			<div class="header-content">
				
				<h2><span>Más que Innovación en Call Center,<img src="spacer.gif" alt=" " width="1" height="1" style="margin-right: 250px; margin-left: 5px;" /></span></h2>
				
				<h1><span><img src="spacer.gif" alt=" " width="1" height="1" style="margin-right: 250px; margin-left: 5px;" />somos como tú.</span></h1>	
				
               
            </div>
		</section>

	</header>