


	<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
	        <div class="container-fluid">
	            <!-- Brand and toggle get grouped for better mobile display -->
	            <div class="navbar-header">
	                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	                    <span class="sr-only">Toggle navigation</span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                </button>
	                <a class="navbar-brand page-scroll" href="#home">LikeU</a>
	            </div>

	            <!-- Collect the nav links, forms, and other content for toggling -->
	            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	                <ul class="nav navbar-nav navbar-right">
	                    <li>
	                        <a class="page-scroll" href="#home">Inicio</a>
	                    </li>
	                    <li>
	                        <a class="page-scroll" href="#being-a-liker">Que es ser un Liker</a>
	                    </li>
	                    <li>
	                        <a class="page-scroll" href="#apply">Quiero ser un liker</a>
	                    </li>
	                </ul>
	            </div>
	            <!-- /.navbar-collapse -->
	        </div>
	        <!-- /.container-fluid -->
	    </nav>


	   

	<header>
		<section id="home">
			<div class="header-content">
				<h1>Somos Gente como tu</h1>
				<hr>
				<h1>Gente con talento, que quiere llegar lejos pero a su manera.</h1>		
               	<a href="#being-a-liker" class="btn btn-primary btn-xl page-scroll">Quiero saber mas</a>
            </div>
		</section>

	</header>
	<section class="bg-primary" id="being-a-liker">
		 <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
		
					<h1>Por que ser un Liker</h1>
					<p>Si crees que trabajar ya no es tomar el transporte público por horas y llegar a un espacio lleno de gente para hacer algo que no te gusta, dejame decirte que estás en lo correcto. La vida hoy se trata de equilibrio ya no somos como nuestros padres que necesitaban una corbata y un espacio frio y triste donde trabajar, ahora somos la generación del talento, en la era de la tecnología donde todo esta a la mano.</p>

				 	<p>Este trabajo es para gente como tú,  gente con con talento, gente que sabe lo que quiere, gente que quiere llegar lejos, gente que entiende el valor del tiempo y su espacio, gente que vive la vida y que quiere trabaja, gente como tu. </p>
			 	</div>
		 	</div>
		</div>

	</section>

	<section id="apply">
		

	</section>




