


	<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
	        <div class="container-fluid">
	            <!-- Brand and toggle get grouped for better mobile display -->
	            <div class="navbar-header">
	                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	                    <span class="sr-only">Toggle navigation</span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                </button>
	                <a class="navbar-brand page-scroll" href="#home">LikeU</a>
	            </div>

	            <!-- Collect the nav links, forms, and other content for toggling -->
	            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	                <ul class="nav navbar-nav navbar-right">
	                    <li>
	                        <a class="page-scroll" href="#home">Inicio</a>
	                    </li>
	                    <li>
	                        <a class="page-scroll" href="#being-a-liker">Que es ser un Liker</a>
	                    </li>
	                    <li>
	                        <a class="page-scroll" href="#apply">Quiero ser un liker</a>
	                    </li>

					<% if user_signed_in? %>
          					<li><p>Bienvenid@ <%= current_user.username%></p>
          						<%= link_to('Cerrar sesión', destroy_user_session_path, :method => :delete) %></li>
         				 		<% else %>
            				<li><%= link_to('Iniciar sesión', new_user_session_path)%></li>
          			<% end %>

	                </ul>

	            </div>
	            <!-- /.navbar-collapse -->
	        </div>
	        <!-- /.container-fluid -->

	 </nav>


	   

	<header>
		<section id="home">
			<div class="header-content">
				<h1>Somos Gente como tu</h1>
				<hr>
				<h1>Gente con talento, que quiere llegar lejos pero a su manera.</h1>		
               	<a href="#being-a-liker" class="btn btn-primary btn-xl page-scroll">Quiero saber mas</a>
            </div>
		</section>

	</header>
	<section class="bg-primary" id="being-a-liker">
		 <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
		
					<h2 class="section-heading">Por que ser un Liker</h2>
					
					<p>Si crees que trabajar ya no es tomar el transporte público por horas y llegar a un espacio lleno de gente para hacer algo que no te gusta, dejame decirte que estás en lo correcto. La vida hoy se trata de equilibrio ya no somos como nuestros padres que necesitaban una corbata y un espacio frio y triste donde trabajar, ahora somos la generación del talento, en la era de la tecnología donde todo esta a la mano.</p>

				 	<p>Este trabajo es para gente como tú,  gente con con talento, gente que sabe lo que quiere, gente que quiere llegar lejos, gente que entiende el valor del tiempo y su espacio, gente que vive la vida y que quiere trabaja, gente como tu. </p>
			 	</div>
		 	</div>
		</div>

	</section>

	<section id="apply">

        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Como ser un Liker.</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-file-text-o wow bounceIn text-primary"></i>
                        <h3>Queremos Saber de tí</h3>
                        <p class="text-muted">Con tu información no solo podremos saber mas de tí,  además te podremos contactar para que inicies con nosostros.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-bar-chart wow bounceIn text-primary" data-wow-delay=".1s"></i>
                        <h3>Sabemos tú Talento</h3>
                        <p class="text-muted">Estos serán los 10 minutos mejor invertidos en tu vida. Aquí encontraremos talentos que ni tú sabias que tenias. Asi sabremos cual es el mejor trabajo para ti.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-microphone wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3>Queremos Escucharte</h3>
                        <p class="text-muted">Será la primera vez que te escuchemos, así que ve por tu diadema y pon tu mejor voz.</p>
                    </div>
                </div>
                
            </div>
        </div>
    
		

	</section>




